// 
//  Contact
//

//
// Maps
//

.mapsHolder {
	display: none;

	@include mq($bp3){
		display: block;
	}
}

.parseMap {

	max-width: none;
	width: 100% !important;
	height: 400px !important;

	a, a:hover, a:active, a:visited {
		font-size: 1em;
		color: $beta-text-color;
		width: 100%;
		background-color: transparent;
		@include px-padding-lr(0,0);
		border-radius: 0;
		@include margin-tb(0,0);
		text-decoration: none;
	}
}


.adressHolder {
	width: 100%;
	text-align: center;
	padding-left: 0;
	@include padding-tb(1,0);

	p {
		font-size: 1.2em;
	}

	@include mq($bp3){
		@include padding-tb(0,0);
		padding-left: 2em;
		text-align: left;
		width: 33.33%;		
	}
}


// 
// TEAM
//

.team {
	.row {
		margin-bottom: 0;
	}
	@include px-padding-lr(3,3);

	@include mq($bp4){
		@include px-padding-lr(0,0);
	}

}

.member {
	float: left;
	width: 100%;
	@include margin-tb(0,3);


	@include mq($bp2){
		width: 45%;
		margin-right: 10%;
	}

	@include mq($bp3){
		width: 26%;
		margin-right: 11%;
	}

	@include mq($bp4){
		width: 20%;
		margin-right: 6.66%;
	}

	.top {
		position: relative;
		overflow: hidden;
		cursor: pointer;
		width: 80%;
		margin-left: 10%;

		// @include mq($bp3) {
		// 	width: 100%;
		// }
	}

	.memberPicture {
		position: absolute;
		max-width: none;
		width: 100%;


		img {
			max-width: none;
			width: 100%;
		}
	}

	.overlayHexagon {
		position: relative;
		// height: 128px;
		// width: 150px;
		width: 100%;
		height: 100%;
	}

	.hexagonMail {
		width: 100%;
		height: 100%;
		z-index: 99;
		position: absolute;
		top: 0;
		left: 0;

		img {
			max-width: none;
			width: 100%;
			height: 100%;
		}
	}

	.bottom {
		width: 100%;

		p {
			width: 100%;
			text-align: center;
			line-height: 1.8em;
		}

		p:first-child {
			@include margin-tb(0.5,0.2);
			@include px-padding-lr(0,0);
			font-size: 1.4em;
			font-family: $beta-font-family;
			font-weight: $gamma-font-weight;
		}


		a {
			color: $beta-ui-color;
		}
	}
}


.member:nth-child(2n) {

	@include mq($bp2){
		@media (max-width: $bp3) {
			margin-right: 0;
		}
	}
}

.member:nth-child(3n) {
	@include mq($bp3){
		@media (max-width: $bp4) {
			width: 26%;
			margin-right: 0;
		}
	}
}

.member:nth-child(4n) {
	@include mq($bp4){
		width: 20%;
		margin-right: 0;
	}
}


.member:nth-child(2) {

}


.member:last-child {
	@include margin-tb(0,1);
}


//
// Succes message
//


.message {
	@include margin-tb(2,2);
	font-size: 1.4em;
	font-family: $beta-font-family;
	font-weight: $gamma-font-weight;
	text-align: center;
}
